#main {
  font-size: 1.4em;
}
#main .pure-docsie .docsie-doc {
  padding: 0;
}
#main .docsie-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em 1em;
  min-height: 80vh;
  height: auto;
  background-image: url("../assets/Consulting_BKG.png");
}
/* @media screen and (min-width: 1024px) {
  #main .docsie-header {
    background-size: 120%;
  }
}
@media screen and (min-width: 1280px) {
  #main .docsie-header {
    background-size: 90%;
  }
} */
#main .docsie-header .docsie-header-conatiner {
  text-align: center;
  margin: 0 auto;
  max-width: 300px;
}
@media screen and (min-width: 568px) {
  #main .docsie-header .docsie-header-conatiner {
    max-width: 600px;
    font-size: 1.1em;
  }
}
@media screen and (min-width: 1024px) {
  #main .docsie-header .docsie-header-conatiner {
    font-size: 0.8em;
    max-width: 800px;
    font-size: 1.4em;
  }
}
#main .docsie-header .docsie-header-conatiner h1.docsie-title {
  margin-block-start: 0;
  margin-block-end: 0.83em;
  margin-top: 0;
  margin-bottom: 0.5em;
}
#main .docsie-header .docsie-header-conatiner p.docsie-subtitle {
  font-size: 1em;
  margin: 0 auto;
  margin-bottom: 1em;
}
#main .docsie-header .docsie-header-conatiner img.red-dot {
  height: 8px;
  width: 8px;
  margin: 0 2% 0.2% 2%;
}
#main .docsie-header .docsie-header-conatiner .cp-1 {
  font-size: 0.9em;
}
#main .docsie-header .docsie-header-conatiner .cp-2 {
  font-size: 0.75em;
}
#main .docsie-header .docsie-header-conatiner .validity-text {
  font-size: 0.7em;
  font-weight: 100;
}
#main .docsie-header .docsie-header-conatiner .st-icons-container {
  display: flex;
  justify-content: center;
}
#main .docsie-header .docsie-header-conatiner .st-icons-container .st-el {
  margin: 0 40px;
  flex: 1 1 0%;
}
#main .docsie-header .docsie-header-conatiner .st-icons-container img.st-icon {
  height: 80px;
  width: 80px;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  #main .docsie-header .docsie-action-container {
    margin: 0 1em;
  }
}
#main .docsie-header .docsie-action-container .ui-bt {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 4px 1em;
  margin-top: 1em;
  flex-wrap: wrap;
  white-space: normal;
  height: auto;
  min-height: 3em;
  line-height: normal;
}
#main .docsie-header .docsie-action-container .ui-bt img {
  margin-right: 0.5em;
}
#main .docsie-header .docsie-action-container .box {
  padding: 1em;
}
@media screen and (min-width: 1280px) {
  #main .docsie-header .docsie-action-container .box {
    padding: 2em;
  }
}
#main .docsie-header .docsie-action-container .box-rg .rg-gr {
  width: 100%;
}
#main .docsie-header .docsie-action-container .box-rg .rg-gr input.ui-in {
  width: 100%;
}
#main .docsie-header .docsie-action-container .docsie-hr-divider {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(white 7%, transparent 11%),
    linear-gradient(0deg, transparent 49%, #e5e5e5 50%, transparent 51%);
}
#main .publish-header {
  background-image: url(../assets/Publish-beautiful-documentation.svg);
}
#main .gather-feedback-header {
  background-image: url(../assets/Understand-your-customers-better.svg);
}
@media screen and (min-width: 768px) {
  #main .gather-feedback-header {
    background-size: 65%;
  }
}
#main .sd-header {
  background-image: url(../assets/Collaboration-software-that-simplifies-the-way-you-create-documentation.svg);
}
@media screen and (max-width: 1023px) {
  #main .collision-2020-sd-header {
    background-image: url(../assets/collision_2020/mob-bg.svg);
    background-size: 100%;
    background-position: top;
  }
  #main .collision-2020-sd-header .docsie-header-conatiner {
    margin-top: 6%;
  }
}
@media screen and (min-width: 1024px) {
  #main .collision-2020-sd-header {
    background-image: url(../assets/collision_2020/collision_2020-bg.svg);
    background-size: 98%;
    padding: 0;
    min-height: 0;
  }
  #main .collision-2020-sd-header .docsie-header-conatiner {
    transform: scale(0.7);
    margin-top: 2%;
  }
  #main .collision-2020-sd-header .docsie-header-conatiner h1.docsie-title {
    font-size: 1.72em;
    margin-top: 4.8%;
  }
}
@media screen and (min-width: 1280px) {
  #main .collision-2020-sd-header {
    background-image: url(../assets/collision_2020/collision_2020-bg.svg);
    background-size: 90%;
    padding: 1em 1em;
  }
  #main .collision-2020-sd-header .docsie-header-conatiner {
    transform: scale(0.9);
    margin-top: 2%;
  }
  #main .collision-2020-sd-header .docsie-header-conatiner h1.docsie-title {
    font-size: 1.72em;
    margin-top: 4.8%;
  }
}
#main .dm-header {
  background-image: url(../assets/Easily_organize_documentation_with_books_and_shelves.svg);
}
@media screen and (min-width: 1024px) {
  #main .docsie-content {
    font-size: 1.2em;
  }
}
#main .docsie-content section {
  display: flex;
  align-items: center;
  justify-content: middle;
  min-height: 60vh;
  padding: 2em 0;
}
#main .docsie-content section h2 {
  font-size: 1.4em;
}
#main
  .docsie-content
  section.docsie-checker
  .docsie-section-container
  .docsie-checker-cell {
  padding: 1em;
}
@media screen and (min-width: 768px) {
  #main .docsie-content section.docsie-checker .docsie-section-container {
    display: grid;
    grid-column-gap: 60px;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    justify-items: center;
    align-items: center;
  }
  #main
    .docsie-content
    section.docsie-checker
    .docsie-section-container
    .docsie-checker-cell {
    padding: 0;
  }
}
#main
  .docsie-content
  section.docsie-checker
  .docsie-section-container
  .docsie-section-title {
  grid-column: span 2;
}
#main .docsie-content section .docsie-section-container h2 {
  text-align: center;
}
#main .docsie-footer-nav {
  display: flex;
  justify-content: center;
  height: 200px;
  align-items: center;
  margin: 0;
}
#main .docsie-footer-nav .rg-ctr {
  text-align: center;
}
#main .docsie-madewith {
  display: none;
}
#main .box-rg .rg-gr input.ui-in,
#main .box-rg .rg-gr button.ui-bt {
  width: 100%;
}
#main .box-rg .ui-bt {
  width: 100%;
}
