h1.docsie-title {
  text-align: center;
  font-size: 3em;
  margin: 2em 0 1em 0;
}
.docsie-subtitle {
  text-align: center;
  font-size: 1.8em;
  margin: 0 0 2em 0;
}
.docsie-section {
  margin-bottom: 2.3rem;
}
.docsie-pricing-table .docsie-grid-cell.docsie-price-tier {
  min-width: unset;
}
.docsie-pricing-table .docsie-grid-cell.docsie-price-tier .docsie-card {
  padding: 1.5rem;
}
@media screen and (min-width: 768px) {
  .docsie-pricing-table
    .docsie-grid-cell.docsie-price-tier
    .docsie-card.docsie-card-horizontal {
    flex-direction: row;
    align-items: center;
  }
  .docsie-pricing-table
    .docsie-grid-cell.docsie-price-tier
    .docsie-card.docsie-card-horizontal
    > :first-child {
    flex-grow: 1;
  }
  .docsie-card-horizontal .ui-bt {
    padding: 0 2rem;
  }
}
.docsie-pricing-table .docsie-grid-cell.docsie-price-tier h3,
.docsie-pricing-table .docsie-grid-cell.docsie-price-tier p,
.docsie-pricing-table .docsie-grid-cell.docsie-price-tier ul {
  margin: 0.5rem 0;
  flex-grow: 0;
}
.docsie-pricing-table .docsie-grid-cell.docsie-price-tier h3.docsie-card-title {
  height: 2rem;
}
@media screen and (min-width: 1024px) {
  .docsie-pricing-table
    .docsie-grid-cell.docsie-price-tier
    h3.docsie-card-title {
    height: 3rem;
  }
}
.docsie-pricing-table .docsie-grid-cell.docsie-price-tier ul {
  padding: 0;
  list-style: none;
}
.docsie-pricing-table .docsie-grid-cell.docsie-price-tier ul li {
  margin-bottom: 0.3rem;
  padding-left: 2rem;
}
.docsie-pricing-table .docsie-grid-cell.docsie-price-tier ul li:before {
  content: "✔️";
  margin-left: -2rem;
  margin-right: 10px;
}
.docsie-pricing-table .docsie-grid-cell.docsie-price-tier .tier-price {
  font-weight: 600;
  font-size: 2rem;
}
@media screen and (min-width: 1024px) {
  .docsie-pricing-table .docsie-grid-cell.docsie-price-tier .tier-price {
    font-size: 2.6rem;
  }
}
.docsie-pricing-table .docsie-grid-cell.docsie-price-tier .tier-price-more {
  font-weight: 400;
  font-size: large;
}

@media screen and (min-width: 768px) {
  .docsie-pricing-table .docsie-grid-cell.docsie-price-tier .price-description {
    min-height: 4rem;
  }
}
.docsie-pricing-table .docsie-grid-cell.docsie-price-tier .meta {
  font-size: small;
}
.docsie-pricing-table .docsie-grid-cell.docsie-price-tier .ui-bt {
  width: 100%;
  margin-bottom: 1em;
}
.docsie-pricing-table
  .docsie-grid-cell.docsie-price-tier
  .docsie-card
  > :first-child {
  flex-grow: 0;
}
@media screen and (min-width: 1024px) {
  .docsie-pricing-table .docsie-grid-cell.docsie-price-tier .tier-head {
    display: flex;
    flex-direction: column;
    min-height: 320px;
  }
}
.docsie-pricing-table .docsie-grid-cell.docsie-price-tier .tier-description {
  flex-grow: 1;
}
.docsie-pricing table {
  margin: 4em 0;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
}
.docsie-pricing table tbody tr :first-child,
.docsie-pricing table thead tr :first-child {
  width: 180px;
}
@media screen and (min-width: 1024px) {
  .docsie-pricing table tbody tr :first-child,
  .docsie-pricing table thead tr :first-child {
    width: 250px;
  }
}
.docsie-pricing table tbody tr td:nth-child(even),
.docsie-pricing table tbody tr th:nth-child(even),
.docsie-pricing table thead tr td:nth-child(even),
.docsie-pricing table thead tr th:nth-child(even) {
  width: 15px;
}
.docsie-pricing table tbody tr td:nth-child(odd),
.docsie-pricing table tbody tr th:nth-child(odd),
.docsie-pricing table thead tr td:nth-child(odd),
.docsie-pricing table thead tr th:nth-child(odd) {
  background-color: #e9f0ff;
}
.docsie-pricing table tbody tr td:nth-child(1),
.docsie-pricing table tbody tr th:nth-child(1),
.docsie-pricing table thead tr td:nth-child(1),
.docsie-pricing table thead tr th:nth-child(1) {
  background-color: unset;
}
.docsie-pricing table thead tr th {
  padding: 2em 0.5em;
}
.docsie-pricing table tbody tr td,
.docsie-pricing table tbody tr th {
  padding: 0.5rem 1rem;
  font-size: small;
}
@media screen and (min-width: 1024px) {
  .docsie-pricing table tbody tr td,
  .docsie-pricing table tbody tr th {
    font-size: medium;
  }
}
.docsie-pricing table tbody tr th {
  text-align: left;
}
.docsie-pricing table tbody tr td {
  text-align: center;
}
.docsie-pricing table tbody tr:not(.title):hover td,
.docsie-pricing table tbody tr:not(.title):hover th {
  background-color: #cff;
}
.docsie-pricing table tbody tr:not(.title):hover td:last-of-type {
  background-color: #fff;
}
.docsie-pricing table tbody tr.title {
  text-transform: uppercase;
}
.docsie-pricing table tbody tr.title th {
  padding-left: 0;
}
.docsie-pricing table tfoot td {
  padding: 1em;
  text-align: center;
}
