<!DOCTYPE html>
<html lang="en-US">
<head>
  <link rel="preconnect" href="https://portals.docsie.io">
  <link rel="canonical" href="https://www.likalo.com/{{landing_url}}">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>{% block title %}{% endblock title %} | Docsie</title>
  <meta name=description content="{% block description %}{% endblock description %}">
  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="{{ self.title() }} | Docsie">
  <meta itemprop="description"
    content="{{ self.description() }}">
  <meta itemprop="image" content="{% block shareimage %}{% endblock shareimage %}">
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@hanba_io">
  <meta name="twitter:title" content="{{ self.title() }} | Likalo">
  <meta name="twitter:description" content="{{ self.description() }}">
  <!-- Twitter summary card with large image must be at least 280x150px -->
  <meta name="twitter:image" content="{{ self.shareimage() }}">
  <!-- Open Graph data -->
  <meta property="og:title" content="{{ self.title() }} | Likalo" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.likalo.com/{{page_url}}" />
  <meta property="og:image" content="{{ self.shareimage() }}" />
  <meta property="og:description"
    content="{{ self.description() }}" />
  <meta property="og:site_name" content="likalo.com" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta name="content-language" content="en" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="author" content="Docsie.io">
  <meta name="theme-color" content="#fff" />
  <meta name="msapplication-TileColor" content="#fff" />
  <meta name="msapplication-TileImage"
    content="https://www.likalo.com/assets/likalo_logo_square.png" />
  <meta name="msapplication-square310x310logo"
    content="https://www.likalo.com/assets/likalo_logo_square.png" />
  {% block header %}
  {% endblock header %}
  <link rel=" apple-touch-icon-precomposed" sizes="57x57"
    href="https://www.likalo.com/assets/likalo_logo_square.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114"
    href="https://www.likalo.com/assets/likalo_logo_square.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72"
    href="https://www.likalo.com/assets/likalo_logo_square.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144"
    href="https://www.likalo.com/assets/likalo_logo_square.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60"
    href="https://www.likalo.com/assets/likalo_logo_square.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120"
    href="https://www.likalo.com/assets/likalo_logo_square.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76"
    href="https://www.likalo.com/assets/likalo_logo_square.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152"
    href="https://www.likalo.com/assets/likalo_logo_square.png" />
  <link rel="icon" type="image/png" href="https://www.likalo.com/assets/likalo_logo_square.png"
    sizes="196x196" />
  <link rel="icon" type="image/png" href="https://www.likalo.com/assets/likalo_logo_square.png"
    sizes="96x96" />
  <link rel="icon" type="image/png" href="https://www.likalo.com/assets/likalo_logo_square.png"
    sizes="32x32" />
  <link rel="icon" type="image/png" href="https://www.likalo.com/assets/likalo_logo_square.png"
    sizes="16x16" />
  <link rel="icon" type="image/png" href="https://www.likalo.com/assets/likalo_logo_square.png"
    sizes="128x128" />
  <link rel="dns-prefetch" href="https://www.googletagmanager.com">
  <script src="https://cdn.jsdelivr.net/npm/share-this/dist/share-this.js"></script>

  <link rel="stylesheet" href='/style.css'>
  <link rel="stylesheet" href="/lang-picker.css">
  <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.3.1/dist/lazyload.min.js"></script>

  <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>

  {% block styles %}
  {% endblock styles %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M535G26"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>


<body>
  <a href="#main" class="aria-visible">{% trans %}Skip to content{% endtrans %}</a>
  <!-- Page Header -->
  <header class="gn">
    <nav id="topNav">
      <ul class="nv-l">
        <li><a class="nv-lg" href="/{{ locale }}" data-nomobile="">
            <svg class="lg" width="32" height="40" viewBox="0 0 48 48">
              <use xlink:href="#icon-docsie"></use>
            </svg>
            <svg class="lg-dx" width="110" viewBox="0 0 158 58" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="#icon-logo"></use>
            </svg>
          </a></li>
          {% if small_header is defined %}
          {% include '_header_small.html' %}
          {% else %}
            {% include '_header.html' %}
          {% endif %}
        {% include '_tags.html' %}
        {% include '_tags.body.html' %}
      </ul>
    </nav>
  </header>
  {% block content %}
  {% endblock content %}
  <script src="https://appcdn2.docsie.io/js/feedback/service/1.2.4/service.js"
    data-feedback="key:feedback_key_X7VzaPlcS6TrzS5PDmRoFsIU6 ,ratingType:emotions ,color:#0391CE ,logoUrl:https://cdn.docsie.io/feedback_key_9zESOoctHzPgS98kRCekDJcWh/logo.png ,autorecord:true ,position:static"></script>
  <footer class="gn">
    <!-- Page Footer -->`
    <div id="ddfb-root"></div>
    <div class="lang-redirect-container"></div>
    <section class="ft-nav">
      <div class="logo-lang-container">
        <div class="docsie-lang-picker-container"></div>
        <div class="nav-logo v-md">
          <svg class="lg" width="32" height="40" viewBox="0 0 48 48">
            <use xlink:href="#icon-docsie"></use>
          </svg>
        </div>
      </div>
        {% include '_footer.html' %}
    </section>
    <section class="ft-cc">
      {% trans %}Made in Brazil & Canada with love by <a href="https://www.likalo.com">Likalo Team{% endtrans %}</a>.
    </section>
  </footer>
  {% include '_icons.html' %}
  {% include '_mobile_menu.html' %}
  {% include '_policy.html' %}
  {% include '_lang-picker.html' %}
  {% include '_lang-redirect-banner.html' %}
  {% include '_tags.html' %}

  {% block scripts %}
  lazyLoadInstance.update();
  {% endblock scripts %}
</body></html>
